
# IDE files
.idea/*
CMakeLists.txt

# Build files
cmake-build-*/**
Kernel/BuildTools/*.json
Kernel/BuildVariables.py
OS/BuildTools/*.json
**/Build/
Install

# Scons files
**/.sconsign.dblite

# Toolkit files
**/*.image
Toolkit/tmp
Toolkit/rune-toolkit-settings.json