name: on-pull-request
on:
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install ruff and clang-format-19
        run: |
          echo \> Installing clang-format-19
          sudo apt install clang-format-19
          echo \> Installing ruff
          pip install ruff
      - name: Check C/C++ Code Formatting
        run: |
          echo \> Check Kernel code
          find Kernel/ -name '*.h' -o -name '*.cpp' | xargs clang-format-19 --dry-run -Werror
          echo \> Check App code
          find App/ -path App/Freya/subprojects -prune -o -name '*.h' -o -name '*.cpp' -print | xargs clang-format-19 --dry-run -Werror
      - name: Check Python Code
        run: |
          echo \> Check Kernel code
          ruff format --check Kernel/
          echo \> Check Brokk code
          ruff format --check Brokk/
  build-test:
    runs-on: ubuntu-latest
    needs: format
    steps:
      - uses: actions/checkout@v4
      - name: Install System & Python Dependencies
        run: |
          sudo apt update && sudo apt install -y build-essential nasm ninja-build qemu-system-x86 dosfstools gdb clang-format-19
          pip install scons click meson pyyaml
      - name: Download runeToolchain
        id: rune_toolchain_download
        uses: robinraju/release-downloader@v1
        with:
          repository: 'Ewogijk/runeToolchain'
          latest: true
          fileName: '*.tar.gz'
          out-file-path: '/opt'
      - name: Install runeToolchain
        run: |
          echo \> Compiler Toolchain: runeToolchain ${{steps.rune_toolchain_download.outputs.tag_name}}
          cd /opt
          sudo tar -xzf runeToolchain.tar.gz
          echo \> GCC x86_64-elf is
          /opt/runeToolchain/x86_64-elf/bin/x86_64-elf-g++ --version
          echo \> GCC x86_64-rune is
          /opt/runeToolchain/x86_64-rune/bin/x86_64-rune-g++ --version
          cd ${{ github.workspace }}
      - name: Build Project
        run: |
          cd Brokk
          sed -i 's+PROJECT_ROOT+${{ github.workspace }}+g' CI/CI.yaml
          ./Brokk.py configure CI/CI.yaml
          ./Brokk.py build x86_64 ci
          cd ${{ github.workspace }}
      - name: Run Tests
        run: |
          cd Brokk/Build/x86_64-ci
          echo \> ./Start.py --no-reboot --no-graphics
          ./Start.py --no-reboot --no-graphics
          cd ${{ github.workspace }}
      - name: Evaluate Tests
        run: |
          cd Brokk/Build/x86_64-ci/bin
          sudo losetup -P /dev/loop0 runeOS.image
          mkdir tmp
          sudo mount /dev/loop0p2 tmp
          echo \> Unit Test Run Info:
          cat tmp/System/Heimdall/UnitTest/TestRunInfo.txt
          if [ ! -f tmp/System/Heimdall/UnitTest/Pass.txt ] 
          then
            cat tmp/System/Heimdall/UnitTest/JUnitReport.xml
            echo \> ERROR: Unit tests failed.
            exit 255
          fi
          echo \> Integration Test Run Info:
          cat tmp/System/Heimdall/IntegrationTest/TestRunInfo.txt
          if [ ! -f tmp/System/Heimdall/IntegrationTest/Pass.txt ] 
          then
            cat tmp/System/Heimdall/IntegrationTest/JUnitReport.xml
            echo \> ERROR: Integration tests failed.
            exit 255
          fi
          mkdir ${{ github.workspace }}/TestResults
          echo \> Copy: runeOS.image@/System/Heimdall/UnitTest -\> ${{ github.workspace }}/TestResults
          cp -r tmp/System/Heimdall/UnitTest ${{ github.workspace }}/TestResults
          echo \> Copy: runeOS.image@/System/Heimdall/IntegrationTest -\> ${{ github.workspace }}/TestResults
          cp -r tmp/System/Heimdall/IntegrationTest ${{ github.workspace }}/TestResults
          sudo umount tmp
          sudo losetup -d /dev/loop0
          cd ${{ github.workspace }}
      - name: Archive Compilation Databases
        run: |
          mkdir CompilationDatabases
          cd App/
          find . -type d -name "Build" -exec cp --parents -r {}/compile_commands.json ../CompilationDatabases/ \;
          cd ${{ github.workspace }}
          mkdir -p CompilationDatabases/Kernel/
          cp Kernel/Build/x86_64-ci/compile_commands.json CompilationDatabases/Kernel/
          tar -czf CompilationDatabases.tar.gz CompilationDatabases/
      - name: Upload Unit Test Report
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: ${{ github.workspace }}/TestResults/UnitTest/JUnitReport.xml
      - name: Upload Integration Test Report
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-report
          path: ${{ github.workspace }}/TestResults/IntegrationTest/JUnitReport.xml
      - name: Upload Compilation Databases
        uses: actions/upload-artifact@v4
        with:
          name: compilation-databases
          path: ${{ github.workspace }}/CompilationDatabases.tar.gz
  lint:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v5
        with:
          name: compilation-databases
          path: ${{ github.workspace }}
      - name: Install ruff and clang-format-19
        run: |
          echo \> Installing clang-tidy
          sudo apt install clang-tidy
          echo \> Installing ruff
          pip install ruff
      - name: Extract Compilation Databases
        run: tar -xzf CompilationDatabases.tar.gz
      - name: Lint C/C++ Code
        run: |
          echo \> Check Kernel code
          run-clang-tidy '.*\.cpp$' -p CompilationDatabases/Kernel/ -j 8 -header-filter='^(?!.*limine\.h).*\.h' -quiet
          echo \> Check App code
          find CompilationDatabases/ -type d -name "Build" -exec run-clang-tidy '^(?!.*\/subprojects\/).*\.cpp$' -p {} -j 8 -header-filter='^(?!.*\/subprojects\/).*\.h$' -quiet \;
      - name: Lint Python Code
        run: |
          echo \> Check Kernel code
          ruff check Kernel/
          echo \> Check Brokk code
          ruff check Brokk/
