name: publish-test-report
on:
  workflow_run:
    workflows: [on-pull-request]
    types: [completed]

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: Make Unit Test Report
        uses: dorny/test-reporter@v2
        with:
          artifact: unit-test-report
          name: Unit Test Report
          path: 'JUnitReport.xml'
          reporter: java-junit
          report-title: 'Unit Test Report'
      - name: Make Integration Test Report
        uses: dorny/test-reporter@v2
        with:
          artifact: integration-test-report
          name: Integration Test Report
          path: 'JUnitReport.xml'
          reporter: java-junit
          report-title: 'Integration Test Report'
