name: pull-request.yml
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install ruff and clang-format-19
        run: |
          echo \> Installing clang-format-19
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 19
          echo \> Installing ruff
          pip install ruff
      - name: Check C/C++ Code Formatting
        run: |
          echo \> Check Kernel code
          find Kernel/ -name '*.h' -o -name '*.cpp' | xargs clang-format-19 --dry-run -Werror
          echo \> Check App code
          find App/ -path App/Freya/subprojects -prune -o -name '*.h' -o -name '*.cpp' -print | xargs clang-format-19 --dry-run -Werror
      - name: Check Python Code
        run: |
          echo \> Check Kernel code
          ruff format --check Kernel/
          echo \> Check Brokk code
          ruff format --check Brokk/
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install System & Python Dependencies
        run: |
          sudo apt update && sudo apt install -y build-essential nasm ninja-build qemu-system-x86 dosfstools gdb
          pip install scons click meson pyyaml
      - name: Download runeToolchain
        id: rune_toolchain_download
        uses: robinraju/release-downloader@v1
        with:
          repository: 'Ewogijk/runeToolchain'
          latest: true
          fileName: '*.tar.gz'
          out-file-path: '/opt'
      - name: Install runeToolchain
        run: |
          echo \> Compiler Toolchain: runeToolchain ${{steps.rune_toolchain_download.outputs.tag_name}}
          cd /opt
          sudo tar -xzf runeToolchain.tar.gz
          echo \> GCC x86_64-elf is
          /opt/runeToolchain/x86_64-elf/bin/x86_64-elf-g++ --version
          echo \> GCC x86_64-rune is
          /opt/runeToolchain/x86_64-rune/bin/x86_64-rune-g++ --version
          cd ${{ github.workspace }}
      - name: Build Project
        run: |
          cd Brokk
          sed -i 's+PROJECT_ROOT+${{ github.workspace }}+g' CI/CI.yaml
          ./Brokk.py configure CI/CI.yaml
          ./Brokk.py build x86_64 ci
          cd ${{ github.workspace }}
      - name: Run Tests
        run: |
          cd Brokk/Build/x86_64-ci
          ./Start.py --no-reboot --no-graphics
          cd ${{ github.workspace }}
      - name: Evaluate Tests
        run: |
          cd Brokk/Build/x86_64-ci/bin
          sudo losetup -P /dev/loop0 runeOS.image
          mkdir tmp
          sudo mount /dev/loop0p2 tmp
          echo \> Heimdall directory:
          ls tmp/System/Heimdall
          echo \> Heimdall/UnitTest directory:
          ls tmp/System/Heimdall/UnitTest
          echo \> Heimdall/IntegrationTest directory:
          ls tmp/System/Heimdall/IntegrationTest
          if [ ! -f tmp/System/Heimdall/UnitTest/Pass.txt ] 
          then
            cat tmp/System/Heimdall/UnitTest/JUnitReport.xml
            echo \> ERROR: Unit tests failed.
            exit 255
          fi
          if [ ! -f tmp/System/Heimdall/IntegrationTest/Pass.txt ] 
          then
            cat tmp/System/Heimdall/IntegrationTest/JUnitReport.xml
            echo \> ERROR: Integration tests failed.
            exit 255
          fi
          mkdir ${{ github.workspace }}/TestResults
          cp -r tmp/System/Heimdall/UnitTest ${{ github.workspace }}/TestResults
          cp -r tmp/System/Heimdall/IntegrationTest ${{ github.workspace }}/TestResults
          sudo umount tmp
          sudo losetup -d /dev/loop0
          cd ${{ github.workspace }}
          ls -l ${{ github.workspace }}/TestResults
          ls -l ${{ github.workspace }}/TestResults/UnitTest
          ls -l ${{ github.workspace }}/TestResults/IntegrationTest
      - name: Upload Unit Test Report
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: ${{ github.workspace }}/TestResults/UnitTest/JunitReport.xml
      - name: Upload Integration Test Report
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-report
          path: ${{ github.workspace }}/TestResults/IntegrationTest/JunitReport.xml
